.corporates {
  @include adaptiv-value('margin-bottom', 132, 70, 1);
  padding: 106px 0 0;

  @media (min-width: $desktop-width) {
    padding: 136px 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba($color: $whiteColor, $alpha: 1);
  }

  &__subTitle {
    padding: 10px 10px 7px;
    @include adaptiv-value('margin-bottom', 37, 20, 1);
  }

  &__title {
    @include adaptiv-value('margin-bottom', 103, 40, 1);
  }

  &__menu {
    max-width: 767px;
    @include adaptiv-value('margin-bottom', 100, 50, 1);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: 'Gothampro';
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    @include adaptiv-value('font-size', 24, 15, 1);
    line-height: calc(36 / 24 * 100%);
    @include adaptiv-value('margin-bottom', 80, 40, 1);
  }

  &__list {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: -15px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 326px;
    margin: 15px;

    @media (min-width: $tablet-width) {
      flex: 0 1 326px;
      max-width: none;
    }
  }

  &__picture {
    margin: 0 0 40px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: 'Gothampro';
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    @include adaptiv-value('font-size', 24, 15, 1);
    line-height: calc(36 / 24 * 100%);
    @include adaptiv-value('margin-bottom', 60, 40, 1);
  }

  &__list {
    max-width: 620px;
    padding: 0 0 0 40px;
  }

  &__item {
    position: relative;
    margin: 0 0 18px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translate(0, -50%);
      width: 10px;
      height: 10px;
      background-color: rgba($color: $accentColor, $alpha: 1);
    }
  }

  &__text {
    font-size: 18px;
    @include adaptiv-value('font-size', 18, 14, 1);
    line-height: 150%;
  }
}