.intro {
  @include adaptiv-value('margin-bottom', 120, 50, 1);
  padding: 106px 0 0;

  @media (min-width: $desktop-width) {
    padding: 136px 0 0;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -12px;

    @media (min-width: $desktop-width) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__info {
    font-family: "Gothampro";
    flex: 0 1 856px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 350px;
    margin: 0 12px 30px;
    padding: 0 0 0 15px;
    box-sizing: border-box;
    background: url(../img/Rectangle_30.png) no-repeat top;

    @media (min-width: $tablet-width) {
      min-height: 540px;
      padding: 0 0 0 30px;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
      margin: 0 12px;
      padding: 0 0 0 60px;
    }
  }

  &__creation {
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    width: 153px;
    height: 30px;
    @include adaptiv-value('margin-bottom', 50, 20, 1);
    padding: 5px 18px 4px;
    box-sizing: border-box;
    color: $bgColor;
    background-color: $whiteColor;
    border-radius: 5px;
    text-shadow: 1px 1px 0 $blackColor;
    user-select: none;

    @media (min-width: $desktop-width) {
      margin: 300px 0 0;
      @include adaptiv-value('margin-bottom', 50, 20, 1);
    }
  }

  &__title {
    @include adaptiv-value('font-size', 40, 20, 1);
    line-height: calc(47 / 40 * 100%);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    color: $whiteColor;
    user-select: none;

    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
  }

  &__announcements {
    margin: 0 12px;
  }
}

.announcements {

  &__toogles {
    display: flex;
    justify-content: space-between;
    max-width: 416px;
    margin: 0 0 6px;
    border-radius: 50%;
  }

  &__toogle {
    font-family: "Gothampro";
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    flex: 1 0 50%;
    padding: 4px 10px 5px;
    box-sizing: border-box;
    max-width: 208px;
    color: $whiteColor;
    background-color: rgba($color: $accentColor, $alpha: 0.05);
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: color 0.3s ease 0s,
      background-color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $accentColor;
      }
    }

    &:focus {
      color: $accentColor;
    }

    &._active {
      background-color: rgba($color: $accentColor, $alpha: 0.1);
      padding: 12px 10px 5px;

      &::before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: rgba($color: $accentColor, $alpha: 0.1);
      }
    }
  }

  &__content {
    max-width: 416px;
    padding: 39px 35px 10px;
    box-sizing: border-box;
    background-color: rgba($color: $accentColor, $alpha: 0.1);
    border-radius: 0 0 5px 5px;
  }

  &__list {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -13px;
    animation: show 0.5s ease;

    &._active {
      display: flex;
    }

    @keyframes show {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__item {
    margin: 0 13px 22px;
  }
}