.page-footer {
  width: 100%;
  @include adaptiv-value('margin-top', 100, 50, 1);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    min-height: 80px;
    margin: -10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: calc(100% - 20px);
      height: 1px;
      background-color: rgba($color: $whiteColor, $alpha: 0.5);
    }
  }

  &__text {
    line-height: 21px;
    margin: 10px;
    color: rgba($color: $whiteColor, $alpha: 0.5);
  }
}