.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;

  max-width: $maxWidth + px;
  min-height: 100%;

  margin: 0 auto;

  color: $blackColor;
  background-color: $bgColor;
}

.page-main {
  flex: 1 1 auto;

  width: 100%;
}

.subTitle {
  font-family: "Gothampro";
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  white-space: nowrap;
  display: inline-block;
  padding: 10px 20px 7px;
  box-sizing: border-box;
  color: $bgColor;
  background-color: $whiteColor;
  border-radius: 5px;
  user-select: none;
}

.title {
  font-family: "Gothampro";
  @include adaptiv-value('font-size', 40, 30, 1);
  line-height: calc(60 / 40 * 100%);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: $whiteColor;
}